project:
  type: book
  output-dir: docs

book:
  title: "statistical_methods_criminology"
  author: "Norah Jones"
  date: "05/09/2023"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - types-of-data.qmd
    - general-linear-model.qmd
    - selection-measurement.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt

editor: visual

